html,
body {
    background-color: rgb(0, 128, 128);
    width: 100%;
    height: 100%;
    margin: 0px;
}

#left {
    height: 303.1vh;
    width: 15%;
    float: left;
    background-color: black;
    text-align: center;
    color: white;
}

#header {
    width: 85%;
    height: 10vh;
    padding-top: 2%;
    padding-bottom: 2%;
    float: left;
    text-align: center;
    font-size: 5em;
    font-family: 'Francois One', sans-serif;
}

#right {
    width: 85%;
    height: 260vh;
    float: left;
}

.picture {
    width: 23%;
    height: 28vh;
    margin: 1%;
    background-color: black;
    color: white;
    float: left;
}

#footer {
    width: 85%;
    height: 25vh;
    float: left;
}

.header2 {
    width: 100%;
    height: 10vh;
    padding-top: 2%;
    padding-bottom: 2%;
    float: left;
    text-align: center;
    font-size: 5em;
    font-family: 'Francois One', sans-serif;
}

#menu {
    width: 80%;
    height: 15vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25%;
    font-size: 5em;
    font-family: 'Bebas Neue', cursive;
    float: left;
}

#navigation {
    width: 80%;
    height: 65vh;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    line-height: 250%;
    
font-family: 'News Cycle', sans-serif;
    float: left;
}
#clock{
    width: 80%;
    height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-size: 4em;
    font-family: 'Bebas Neue', cursive;
    float: left;
}
.text2{
    width: 80%;
    height: 30vh;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5em;
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    float: left;
}
#first{
    background-image: url("IMG/steve_jobs.jpg");
    background-size: cover;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
#second{
    background-image: url("IMG/sylwester_stalone.jpg");
    background-size: cover;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
#third{
    background-image: url("IMG/leo_messi.jpg");
    background-size: cover;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
#fourth{
    background-image: url("IMG/nathan_drake.jpg");
    background-size: cover;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
.text{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    vertical-align: middle;
    display: table-cell;
    opacity: 0;
    transition-duration:2s;
    font-family: 'News Cycle', sans-serif;
}
.text:hover{
    opacity: 1;
    transition: 1s;
    background-image: url(none);
    background-color: black;
    font-family: 'News Cycle', sans-serif;
}
#footer1{
    width: 40%;
    height: 52%;
    margin: 2%;
    padding: 2%;
    border-top: black 5px double;
    border-left: black 5px double;
    font-size: 4em;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    float: left;
}
#footer2{
    width: 40%;
    height: 52%;
    margin: 2%;
    padding: 2%;
    font-size: 2em;
    border-bottom: black 5px double;
    border-right: black 5px double;
    line-height: 200%;
    text-align: right;
    font-family: 'BenchNine', sans-serif;
    float: left;
}
.strona{
    text-decoration: none;
    color: black;
}
.strona:hover{
    color: darkgray;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: darkgray;
}
.logo{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    margin-top: 15vh;
    margin-bottom: 12vh;
    height: 20vh;
    float: left;
}