html,
body {
    margin: 0;
    padding: 0;
    color: #c9d1cb;
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.4vw;
}

::-webkit-scrollbar-thumb {
    background-color: #021c1e;
}

::-webkit-scrollbar-track {
    background-color: #004445;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(20vh, auto);
    grid-template-areas:
        "header header header header header nav nav nav"
        "header header header header header nav nav nav"
        "header header header header header nav nav nav"
        "header header header header header nav nav nav"
        "header header header header header nav nav nav"
        "main main main main main main main main"
        "main main main main main main main main"
        "main main main main main main main main"
        "main main main main main main main main"
        "main main main main main main main main"
        "aside aside aside aside aside aside aside aside"
        "aside aside aside aside aside aside aside aside"
        "article article article article article article article article"
        "article article article article article article article article"
        "section section section section section section section section"
        "section section section section section section section section"
        "section section section section section section section section"
        "parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo"
        "parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo"
        "parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo"
        "galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader"
        "gallery gallery gallery gallery gallery gallery gallery gallery"
        "gallery gallery gallery gallery gallery gallery gallery gallery"
        "gallery gallery gallery gallery gallery gallery gallery gallery"
        "gallery gallery gallery gallery gallery gallery gallery gallery"
        "personsHeader personsHeader personsHeader personsHeader personsHeader personsHeader personsHeader personsHeader"
        "persons persons persons persons persons persons persons persons"
        "persons persons persons persons persons persons persons persons";
}

header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    max-height: 100vh;
}

nav {
    grid-area: nav;
    background-color: #20948b;
    text-align: center;
    font-size: 5vh;
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(20vh, auto);
    grid-template-areas:
    "title title title"  
        "title title title"
        "title title title"
        ". arrow ."
        ". arrow .";
}
nav #hamburgerMenu {
    display: none;
}

nav #navTitle {
    grid-area: title;
    font-size: 7vh;
    margin-top: 20vh;
    padding-left: 10%;
    padding-right: 10%;
}

nav #arrow {
    grid-area: arrow;
    display: flex;
    justify-content: center;

}

nav #arrow div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav #arrow div i{
    font-size: 7vh;
    margin-top: 10vh;
    animation-name: upanddown;
        animation-duration: 2s;
        animation-iteration-count:infinite;
        -webkit-animation-name: upanddown;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count:infinite;
}
nav #arrow div i:hover{
    cursor: pointer;
}
main {
    grid-area: main;
    background-color: #257985;
}

section {
    grid-area: section;
    background-color: #257985;
}

aside {
    grid-area: aside;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/header-image2.jpg);
}

article {
    grid-area: article;
    background-color: #257985;
}

/*persons - start*/
.persons {
    grid-area: persons;
    background-color: #257985;
}

#personsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-auto-rows: minmax(20vh, auto);
    grid-template-areas:
        ". personFirst personSecond ."
        ". personFirstDescripion personSecondDescripion .";
}

#personFirst {
    grid-area: personFirst;
    display: flex;
    justify-content: center;
    align-items: center;
}

#personSecond {
    grid-area: personSecond;
    display: flex;
    justify-content: center;
    align-items: center;
}

#personFirstDescripion {
    grid-area: personFirstDescripion;
    padding-top: 5vh;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 5vh;
    text-align: center;
}

#personSecondDescripion {
    grid-area: personSecondDescripion;
    padding-top: 5vh;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 5vh;
    text-align: center;
}

.personsIcon {
    width: 12.45vw;
    margin-top: 5vh;
    height: 12.25vw;
    border-radius: 50%;
    background-image: url(img/header-image.jpg);
    overflow: hidden;
}

#personsHeader {
    grid-area: personsHeader;
    background-color: #257985;
}

#personsHeader h1 {
    margin-top: 10vh;
    margin-left: 10%;
}

#personsHeader h1::after {
    content: "";
    display: block;
    margin-top: 1vh;
    width: 5vw;
    height: 0.5vh;
    background-color: #20948b;
}

/*persons - koniec*/
/*gallery - start*/
.gallery {
    grid-area: gallery;
    background-color: #257985;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#galleryHeader {
    grid-area: galleryHeader;
    background-color: #257985;
}

#galleryHeader h1 {
    margin-top: 10vh;
    margin-left: 10%;
}

#galleryHeader h1::after {
    content: "";
    display: block;
    margin-top: 1vh;
    width: 5vw;
    height: 0.5vh;
    background-color: #20948b;
}

#galleryImage1 {
    width: 50vw;
    height: 15vw;
    margin-left: 10%;
    background-color: cadetblue;
}

#galleryImage2 {
    width: 30vw;
    height: 15vw;
    margin-left: 3vw;
    background-color: cadetblue;
}

#galleryImage3 {
    width: 30vw;
    height: 15vw;
    margin-left: 10%;
    background-color: cadetblue;
}

#galleryImage4 {
    width: 50vw;
    height: 15vw;
    margin-left: 3vw;
    background-color: cadetblue;
}

/*gallery - koniec*/
#headerNavContainer{
    background-color: transparent;
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}
#headerNavContainer li{
    display: inline-block;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#headerNavContainer li a{
    text-decoration: none;
    color: #257985;
    font-size: 4vh;
}
#headerNavContainer li a:hover{
    color: #c9d1cb;
}
.containerNavLink::after{
    content: '';
    display: block;
    width: 0;
    height: 0.5vh;
    background: #257985;
    transition: width .3s;
}.containerNavLink:hover::after{
    width: 100%;
    transition: width .3s;
}
/*stopka - start*/
.containerFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(35vh, auto);
    grid-template-areas:
        "one one two three";
    background-color: #04202c;
    color: #c9d1cb;
    font-family: 'Oxanium';
}

#one {
    text-align: left;
    grid-area: one;
}

#two {
    text-align: left;
    grid-area: two;
}

#three {
    text-align: left;
    grid-area: three;
}

#one p {
    text-align: center;
    font-size: 2.2vh;
}

#one a p {
    font-size: 8vh;
    font-weight: bold;
    padding-left: 20%;
    text-align: left;
}

#one p span {
    color: #31a2ac;
}

#two p {
    padding-left: 10%;
    font-size: 2.5vh;
}

#two p:first-of-type {
    font-weight: bold;
    text-decoration: underline #31a2ac;
    text-underline-position: #31a2ac;
    padding-left: 10%;
    font-size: 3.5vh;
}

#three p {
    font-weight: bold;
    text-decoration: underline #31a2ac;
    text-underline-position: #31a2ac;
    padding-left: 10%;
    font-size: 3.5vh;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
}

a {
    text-decoration: none;
    color: #c9d1cb;
}

a:hover {
    color: #31a2ac;
}

.icon-mail:before {
    content: '\e800';
}

.icon-phone:before {
    content: '\e801';
}

.icon-location:before {
    content: '\e802';
}

.icon-github-circled:before {
    content: '\f099';
    font-size: 6vh;
    margin-top: 5vh;
}

.icon-facebook:before {
    content: '\f09a';
    font-size: 6vh;
    margin-top: 5vh;
}

.icon-youtube-play:before {
    content: '\f16a';
    font-size: 6vh;
    margin-top: 5vh;
}

.icon-instagram:before {
    content: '\f16d';
    font-size: 6vh;
    margin-top: 5vh;
}

@media (orientation: portrait) {
    .containerFooter {
        grid-auto-rows: minmax(15vh, auto);
        grid-template-areas:
            "two two two two"
            "three three three three"
            "one one one one";
    }

    #one a p {
        font-size: 5vh;
        text-align: center;
        padding-left: 0;
    }

    #two p:first-of-type {
        text-align: center;
        padding-left: 0;
    }

    #two p {
        text-align: center;
        padding-left: 0;
    }

    #three p {
        text-align: center;
        padding-left: 0;
    }

    .icons {
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .icon-mail:before {
        content: '\e800';
    }

    .icon-phone:before {
        content: '\e801';
    }

    .icon-location:before {
        content: '\e802';
    }

    .icon-github-circled:before {
        content: '\f099';
        font-size: 4.5vh;
        margin-top: 0;
    }

    .icon-facebook:before {
        content: '\f09a';
        font-size: 4.5vh;
        margin-top: 0;
    }

    .icon-youtube-play:before {
        content: '\f16a';
        font-size: 4.5vh;
        margin-top: 0;
    }

    .icon-instagram:before {
        content: '\f16d';
        font-size: 4.5vh;
        margin-top: 0;
    }
}

/*stopka - koniec*/
/*videoPrallax - start*/
.ParallaxVideo {
    grid-area: parallaxVideo;
}

.ParallaxVideo video {
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: -999;
    object-fit: cover;
    overflow: hidden;
}

/*videoPrallax - koniec*/
*:focus {outline-style: none;}
  .hamburger{
      width: 9vw;
      height: 9vw;
      background-color: transparent;
      border: 0;
      border-top: 1vw solid white;
      position: relative;
      transition: 0.3s transform linear;
      cursor: pointer;
  }
  .hamburger::before, .hamburger::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 1vw solid white;
      transform: translateY(1vw);
  }
  .hamburger::after{
      transform: translateY(3vw);
      transition: 0.3s transform linear;
  }
  .hamburger:focus{
      transform: rotate(45deg) translateY(0.4vw);
      border:none;
  }
  .hamburger:focus::after{
      transform: rotate(-90deg) translateX(-0.9vw);
  }
/*media quaries - start*/
/*animacje - start*/
@keyframes upanddown
      {
        0% { margin-top: 10vh;}
        25%{margin-top: 12vh;}
        50%{margin-top: 14vh;}
        75%{margin-top: 12vh;}
        100% { margin-top: 10vh; }
      }

      @-webkit-keyframes upanddown
      {
        0% { margin-top: 10vh;}
        25%{margin-top: 12vh;}
        50%{margin-top: 14vh;}
        75%{margin-top: 12vh;}
        100% { margin-top: 10vh; }
      }
/*animacje - koniec*/
@media (orientation: portrait) {
    ::-webkit-scrollbar {
        width: 0;
    }

    .container {
        width: 100vw;
        grid-template-areas:
            "header header header header header header header header"
            "header header header header header header header header"
            "header header header header header header header header"
            "header header header header header header header header"
            "header header header header header header header header"
            "main main main main main main main main"
            "main main main main main main main main"
            "main main main main main main main main"
            "main main main main main main main main"
            "main main main main main main main main"
            "aside aside aside aside aside aside aside aside"
            "aside aside aside aside aside aside aside aside"
            "article article article article article article article article"
            "article article article article article article article article"
            "section section section section section section section section"
            "section section section section section section section section"
            "section section section section section section section section"
            "parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo"
            "parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo"
            "parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo parallaxVideo"
            "galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader"
            "gallery gallery gallery gallery gallery gallery gallery gallery"
            "gallery gallery gallery gallery gallery gallery gallery gallery"
            "gallery gallery gallery gallery gallery gallery gallery gallery"
            "gallery gallery gallery gallery gallery gallery gallery gallery"
            "personsHeader personsHeader personsHeader personsHeader personsHeader personsHeader personsHeader personsHeader"
            "persons persons persons persons persons persons persons persons"
            "persons persons persons persons persons persons persons persons";
    }

    header {
        grid-area: header;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-height: 100vh;
        max-height: 100vh;
        width: 100vw;
        z-index: -10;
    }

    nav {
        background-color: transparent;
        font-size: 1vh;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        grid-template-areas:
            ". . menu"
            "title title title"
            "title title title"
            ". . ."
            ". arrow .";
    }
    nav #hamburgerMenu {
        grid-area: menu;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #personsContainer {
        grid-template-areas:
            "personFirst personFirst personFirst personFirst"
            "personFirstDescripion personFirstDescripion personFirstDescripion personFirstDescripion"
            "personSecond personSecond personSecond personSecond"
            "personSecondDescripion personSecondDescripion personSecondDescripion personSecondDescripion";
    }
    .personsIcon {
        width: 20vw;
        margin-top: 5vh;
        height: 20vw;
    }
    #personFirstDescripion {
padding: 0 15%;
    }
    
    #personSecondDescripion {
        padding: 0 15%;
    }
    #galleryHeader h1::after {
        width: 12vw;
    }
    #personsHeader h1::after {
        width: 12vw;
    }
    #galleryImage1 {
        width: 90vw;
        height: 25vw;
        margin: 0;
    }
    
    #galleryImage2 {
        width: 90vw;
        height: 25vw;
        margin: 0;
    }
    
    #galleryImage3 {
        width: 90vw;
        height: 25vw;
        margin: 0;
    }
    
    #galleryImage4 {
        width: 90vw;
        height: 25vw;
        margin: 0;
    }
    .gallery {
        justify-content: center;
    }
    #headerNavContainer{
        display: none;
    }
    nav #arrow div i{
        font-size: 7vh;
        margin-top: -5vh;
        animation-name: upanddown;
            animation-duration: 2s;
            animation-iteration-count:infinite;
            -webkit-animation-name: upanddown;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count:infinite;
    }

      nav #navTitle {
        margin-top: 10vh;
    }
    /*animacje - start*/
@keyframes upanddown
{
  0% { margin-top: -5vh;}
  25%{margin-top: -3vh;}
  50%{margin-top: -1vh;}
  75%{margin-top: -3vh;}
  100% { margin-top: -5vh; }
}

@-webkit-keyframes upanddown
{
  0% { margin-top: -5vh;}
  25%{margin-top: -3vh;}
  50%{margin-top: -1vh;}
  75%{margin-top: -3vh;}
  100% { margin-top: -5vh; }
}
/*animacje - koniec*/
}

/*media quaries - koniec*/